<html>

<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'
        integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
    <link rel='stylesheet' href='assets/css/createfile.css'>
</head>

<body>
    <h2 style='text-align:center;font-weight:800;font-size:40px'>You have successfully merged out</h2>
    <h3 style='text-align:center;font-weight:400;font-size:20px'> </h3>
    <h2 style='text-align:center;font-weight:800;font-size:40px'>Enter the directory path to be merged from checkout
    </h2>
    <form style='position:absolute;left:40%;margin-top:20px' action='/mergein' method='get'>
        <div style='' class='input-group mb-3'>
            <div class='input-group-prepend'><span class='input-group-text' id='basic-addon1'>Enter path from C:/checkout</span></div><input
                type='text' placeholder='FolderPath' aria-describedby='basic-addon1' type='text' name='mergeinPath'><br>
        </div><input style='position:inherit;left:40%' type='submit' class='btn btn-primary btn-lg active'
            value='Mergein'>
    </form>
    
</body>

</html>