<!DOCTYPE html>
<html lang="en">

<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'
        integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
    <link rel='stylesheet' href='assets/css/createfile.css'>
</head>

<body>
    <h2 style='text-align:center;font-weight:800;font-size:40px'>Projects Paths</h2>
    <% files.forEach(function(file) { %>
    <a style='display: block;max-width: 300px;margin: auto;' class='btn btn-primary mb-2'
        href=fedit?path='<%= file%>'>
        <%= file %>
    </a>
        <% }); %>

</body>

</html>